

body {
	padding-top: 40px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
	overflow-x: hidden; /* To prevent scrollbars from appearing because of offcanvas. */
}

.modal {
	margin-top: 25px;
}

.navbar {
	min-height: 40px;
	margin-bottom: 0;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	z-index: 1060;
}

.navbar .container-fluid {
	padding: 0;
}

.navbar .container-fluid .navbar-header {
	margin-left: 0;
	margin-right: 0;
}

.nav>li>a {
	position: relative;
	display: block;
	padding: 10px 15px !important;
	line-height: 20px;
}

.header-dropdown {
	float: left;
	padding: 10px 15px;
	font-size: 15px;
	height: 40px;
	line-height: 20px;
	background-color: rgba(0, 0, 0, 0.4) !important;
}

/* Uncomment for File menu to be flush with the window border.
@media (min-width: 768px) {
  .navbar > .container .header-dropdown,
  .navbar > .container-fluid .header-dropdown {
	margin-left: -15px;
  }
}*/

.header-dropdown a {
	color: white;
	text-decoration: none;
}

.header-dropdown a:hover {
	color: #0ce3ac;
}

.header-dropdown .dropdown-menu {
	margin-top: 0;
	border-top-right-radius: 0;
	border-top-left-radius: 0;
}

.navbar .btn {
	padding: 2px 5px;
	text-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.navbar-btn {
	margin: 5px 5px 5px 0px;
}

.navbar-toggle {
	margin: 3px;
	border: none;
	border-radius: 0;
}

hr {
	margin: 10px 0;
}

.panel-title {
	text-shadow: 0 0 5px rgba(0, 0, 0, .4);
}

.class-view .panel-title {
	text-align: center;
}

.class-view {
	margin-left: 280px;
	margin-top: 15px;
}

#sidebar {
	float: left;
	width: 250px;
	margin-top: 15px;
	margin-bottom: 15px;
	/*border-right: 4px rgba(60, 95, 127, 0.8) solid;*/
}

#sidebar .badge {
	float: right;
}

.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.dropdown-menu .shortcut {
	font-weight: bold;
}

#splitter-sidebar {
	position: fixed;
	top: 55px;
	bottom: 15px;
	left: 235px; /* Replaced dynamically */
	width: 4px;
	background-color: rgba(60, 95, 127, 0.8);
	z-index: 1000;
	cursor: col-resize;
}

.table.class-list {
	table-layout: fixed;
	/* width: 100%; applied already by Bootstrap .table */
}

.table.class-list td {
	overflow:hidden;
}

.table.class-list th:nth-of-type(1) {
	width: 70%;
}

.table.class-list th:nth-of-type(2) {
	width: 30%;
}

.treegrid-expander {
	margin-right: 10px;
}
